<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73650904699-u9e69ltr69um6ft9asfuc6ob0akrftqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73650904699-u9e69ltr69um6ft9asfuc6ob0akrftqj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>73650904699-3eqa4q4lj3p6c6u94e49devl3bki316u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCJCbwiuY2OaqHM6jL88pm_glWlD-La1I</string>
	<key>GCM_SENDER_ID</key>
	<string>73650904699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.conurban.app</string>
	<key>PROJECT_ID</key>
	<string>campus-africa-bda4b</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-africa-bda4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73650904699:ios:07fd06ead3f83e0dff4cde</string>
</dict>
</plist>